<!DOCTYPE html>
<html lang="pl-PL">

    <head>
        <title>Usługi Instalacyjno-Budowalne - El-Mar S.C.</title>

        <!-- Open Graph -->
		<meta property="og:title" content="Usługi Instalacyjno-Budowalne - El-Mar">
		<meta property="og:url" content="https://el-marsc.pl">

        <%- include('./partials/head') %>
        <link
  rel="stylesheet"
  href="https://unpkg.com/swiper@8/swiper-bundle.min.css"
/>
    </head>

    <body>
        <%- include('./partials/header') %>

        <div class="position-relative2">


            <%- include('./partials/nav') %>

            <main>
                <div class="main-page-header">
                    <h1>EL-MAR S.C.</h1>
                    <p>Usługi Instalacyjno-Budowalne</p>
                </div>

                <div class="main w-100 position-absolute">
                    <!--<img src="img/ELEKTRYK EL-MAR-transparent.png" class="slider-logo" alt="Logo El-Mar S.C.">
                    Slider main container -->
                    <div class="swiper">
                    <!-- Additional required wrapper -->
                    <div class="swiper-wrapper">
                        <!-- Slides -->
                        <div class="swiper-slide first-slide"></div>
                        <div class="swiper-slide second-slide"></div>
                        <div class="swiper-slide third-slide"></div>
                    </div>
                    <!-- If we need pagination -->
                    <div class="swiper-pagination"></div>

                    <!-- If we need navigation buttons -->
                    <div class="swiper-button-prev"></div>
                    <div class="swiper-button-next"></div>

                    <!-- If we need scrollbar -->
                    <div class="swiper-scrollbar"></div>
                </div>
                    <!--<div class="position-relative">
                        <div class="top-hide"></div>
                            <img src="img/1.jpg" class="w-100 background-main">
                        <div class="bottom-hide"></div>
                    </div>
                    <div class="main-brand">
                        <img src="img/ELEKTRYK EL-MAR-transparent.png">
                        <h1>Usługi Instalacyjno-Budowalne</h1>
                    </div>
                    <h1 class="hidden-title">Usługi Instalacyjno-Budowalne</h1>

                    <div class="main-mobile">    
                        <img class="bg" src="img/1.jpg">
                        <div class="w-100">
                            <img class="logo" src="img/ELEKTRYK EL-MAR-transparent.png">
                            <h1>Usługi <br>Instalacyjno-<br>Budowalne</h1>
                        </div>
                    </div>-->


                    <div class="main-about">
                        <div class="container text-left">
                            <div class="row">
                                <div class="col-12 col-lg-6 px-4">
                                    <h2><i class="fa-solid fa-people-group"></i> O nas</h2>
                                    <div class="hr"></div>
                                    <p class="text-justify">
                                        Firma <b>EL-MAR s.c.</b> została założona w 2008 r. jako spółka dwóch braci.
                                        Początkowo firma specjalizowała się w wykonywaniu instalacji elektrycznych i zatrudniała
                                        kilku pracowników. Wraz z rozwojem inwestowaliśmy w sprzęt oraz podnoszenie
                                        kwalifikacji. Obecnie zatrudniamy kilkudziesięciu wysoko wykwalifikowanych pracowników
                                        oraz dysponujemy rozbudowaną bazą sprzętową, co pozwala nam na rozszerzanie zakresu
                                        świadczonych usług.
                                    </p>
                                </div>
                                <div class="col-12 col-lg-6 px-4">
                                    <h2><i class="fa-solid fa-calendar-check"></i> Wieloletnie doświadczenie</h2>
                                    <div class="hr"></div>
                                    <p class="text-justify">
                                        W naszej działalności zrealizowaliśmy z sukcesem łącznie kilkaset projektów
                                        poświadczonych referencjami otrzymanymi od Naszych klientów. Do każdego zlecenia
                                        podchodzimy indywidualnie a doświadczenie pracowników o wysokich kwalifikacjach,
                                        własne biuro projektowe oraz wysokiej jakości sprzęt pozwalają spełnić wymagania
                                        wszystkich klientów oraz gwarantują wysoki poziom oferowanych usług.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="bg-dark-grey py-5 pricing-bar px-2">
                        <div class="container">
                            <div class="row">
                                <div class="col-12 col-lg-6">
                                    Możemy wykonać dla Ciebie wycenę. Zapraszamy do współpracy!
                                </div>
                                <div class="col-12 col-lg-6">
                                    <a href="oferta" class="button d-inline-block transition">NASZA OFERTA</a>
                                    <a href="kontakt" class="button d-inline-block bg-info text-light mx-1 transition">WYCENA ONLINE</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="container mt-4">
                        <h2>Czym się zajmujemy?</h2>
                        <div class="hr2"></div>
                    </div>
                    
                    <div class="offer-bar">
                        <div class="container">
                            <div class="row">
                                <div class="col-12 col-lg-4 p-3">
                                    <div class="offer-element ">
                                        <img src="images/offer/instalacje-elektryczne.jpg">
                                        <h2>Instalacje<br>elektryczne</h2>
                                    </div>
                                </div>
                                <div class="col-12 col-lg-4 p-3">
                                    <div class="offer-element ">
                                        <img src="images/offer/instalacje-odgromowe.jpg">
                                        <h2>Instalacje<br>odgromowe</h2>
                                    </div>
                                </div>
                                <div class="col-12 col-lg-4 p-3">
                                    <div class="offer-element ">
                                        <img src="images/offer/instalacje-strukturalne.jpg">
                                        <h2>Instalacje<br>strukturalne</h2>
                                    </div>
                                </div>
                                <div class="col-12 col-lg-4 p-3">
                                    <div class="offer-element ">
                                        <img src="images/offer/instalacje-alarmowe.jpg">
                                        <h2>Instalacje<br>alarmowe</h2>
                                    </div>
                                </div>
                                <div class="col-12 col-lg-4 p-3">
                                    <div class="offer-element ">
                                        <img src="images/offer/telewizja-przemysłowa.jpg">
                                        <h2>Telewizja<br>przemysłowa</h2>
                                    </div>
                                </div>
                                <div class="col-12 col-lg-4 p-3">
                                    <div class="offer-element ">
                                        <img src="images/offer/Instalacje-sygnalizacji-pożaru.jpg">
                                        <h2>Instalacje<br>sygnalizacji pożaru</h2>
                                    </div>
                                </div>

                                <div class="col-12 col-lg-4 p-3">
                                    <div class="offer-element ">
                                        <img src="images/offer/sieci-i-przyłącza-elektroenergetyczne.jpg">
                                        <h2>Sieci i przyłącza<br>elektroenergetyczne</h2>
                                    </div>
                                </div>
                                <div class="col-12 col-lg-4 p-3">
                                    <div class="offer-element ">
                                        <img src="images/offer/sieci-światłowodowe.jpg">
                                        <h2>Sieci<br>światłowodowe</h2>
                                    </div>
                                </div>
                                <div class="col-12 col-lg-4 p-3">
                                    <div class="offer-element ">
                                        <img src="images/offer/stacje-transformatorowe.jpg">
                                        <h2>Stacje<br>transformatorowe</h2>
                                    </div>
                                </div>
                                <div class="col-12 col-lg-4 p-3">
                                    <div class="offer-element ">
                                        <img src="images/offer/instalacje-fotowoltaiczne.jpg">
                                        <h2>Instalacje<br>fotowoltaiczne</h2>
                                    </div>
                                </div>
                                <div class="col-12 col-lg-4 p-3">
                                    <div class="offer-element ">
                                        <img src="images/offer/klimatyzacje.jpg">
                                        <h2>Klimatyzacje</h2>
                                    </div>
                                </div>
                                <div class="col-12 col-lg-4 p-3">
                                    <div class="offer-element ">
                                        <img src="images/offer/pompy-ciepła.jpg">
                                        <h2>Pompy<br>ciepła</h2>
                                    </div>
                                </div>
                                <div class="col-12 col-lg-4 p-3">
                                    <div class="offer-element ">
                                        <img src="images/offer/magazyny-energii.jpg">
                                        <h2>Magazyny<br>energii</h2>
                                    </div>
                                </div>
                                <div class="col-12 col-lg-4 p-3">
                                    <div class="offer-element ">
                                        <img src="images/offer/usługi-projektowe.jpg">
                                        <h2>Usługi<br>projektowe</h2>
                                    </div>
                                </div>
                                <div class="col-12 col-lg-4 p-3">
                                    <div class="offer-element ">
                                        <img src="images/offer/prefabrykacja-rozdzielnic.jpg">
                                        <h2>Prefabrykacja<br>rozdzielnic</h2>
                                    </div>
                                </div>
                                <div class="col-12 col-lg-4 p-3">
                                    <div class="offer-element ">
                                        <img src="images/offer/nadzory.jpg">
                                        <h2>Nadzory</h2>
                                    </div>
                                </div>
                                <div class="col-12 col-lg-4 p-3">
                                    <a href="wynajem" class="offer-element not-before">
                                        <img src="images/offer/w-sprzętu.jpg">
                                        <h2><i class="fa-solid fa-arrow-up-right-from-square"></i> Wynajem<br>sprzętu</h2>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>


                    <%- include('./partials/footer') %>

                </div>
            </main>
        </div>



        
        <%- include('./partials/jsscripts') %>

        <%- include('./partials/end') %>
        <script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>
        <script>
            const swiper = new Swiper('.swiper', {
            // Optional parameters
            loop: true,
            autoplay: {
                delay: 5000,
            },



            // If we need pagination
            pagination: {
                el: '.swiper-pagination',
            },

            // Navigation arrows
            navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
                enabled: false,
            },

            // And if we need scrollbar
            scrollbar: {
                el: '.swiper-scrollbar',
                
            },
            });
        </script>
    </body>

</html>