<!DOCTYPE html>
<html lang="pl-PL">

    <head>
        <title><%- pageName %> - El-Mar S.C.</title>

        <meta property="og:title" content="<%- pageName %>">
		<meta property="og:url" content="https://el-marsc.pl/oferta">

        <%- include('./partials/head') %>
    </head>

    <body>
        <%- include('./partials/header') %>

        <div class="position-relative">


            <%- include('./partials/nav') %>
            

            <div class="main w-100">
                <main>
                    <div class="h-back">
                        <h1>
                            <%- pageName %>
                        </h1>
                    </div>


                    <div class="py-2">
                        <div class="offer-bar">
                            <div class="container">
                                <div class="row">
                                    <div class="col-12 col-lg-4 p-3">
                                        <div class="offer-element ">
                                            <img src="images/offer/instalacje-elektryczne.jpg">
                                            <h2>Instalacje<br>elektryczne</h2>
                                        </div>
                                    </div>
                                    <div class="col-12 col-lg-4 p-3">
                                        <div class="offer-element ">
                                            <img src="images/offer/instalacje-odgromowe.jpg">
                                            <h2>Instalacje<br>odgromowe</h2>
                                        </div>
                                    </div>
                                    <div class="col-12 col-lg-4 p-3">
                                        <div class="offer-element ">
                                            <img src="images/offer/instalacje-strukturalne.jpg">
                                            <h2>Instalacje<br>strukturalne</h2>
                                        </div>
                                    </div>
                                    <div class="col-12 col-lg-4 p-3">
                                        <div class="offer-element ">
                                            <img src="images/offer/instalacje-alarmowe.jpg">
                                            <h2>Instalacje<br>alarmowe</h2>
                                        </div>
                                    </div>
                                    <div class="col-12 col-lg-4 p-3">
                                        <div class="offer-element ">
                                            <img src="images/offer/telewizja-przemysłowa.jpg">
                                            <h2>Telewizja<br>przemysłowa</h2>
                                        </div>
                                    </div>
                                    <div class="col-12 col-lg-4 p-3">
                                        <div class="offer-element ">
                                            <img src="images/offer/Instalacje-sygnalizacji-pożaru.jpg">
                                            <h2>Instalacje<br>sygnalizacji pożaru</h2>
                                        </div>
                                    </div>

                                    <div class="col-12 col-lg-4 p-3">
                                        <div class="offer-element ">
                                            <img src="images/offer/sieci-i-przyłącza-elektroenergetyczne.jpg">
                                            <h2>Sieci i przyłącza<br>elektroenergetyczne</h2>
                                        </div>
                                    </div>
                                    <div class="col-12 col-lg-4 p-3">
                                        <div class="offer-element ">
                                            <img src="images/offer/sieci-światłowodowe.jpg">
                                            <h2>Sieci<br>światłowodowe</h2>
                                        </div>
                                    </div>
                                    <div class="col-12 col-lg-4 p-3">
                                        <div class="offer-element ">
                                            <img src="images/offer/stacje-transformatorowe.jpg">
                                            <h2>Stacje<br>transformatorowe</h2>
                                        </div>
                                    </div>
                                    <div class="col-12 col-lg-4 p-3">
                                        <div class="offer-element ">
                                            <img src="images/offer/instalacje-fotowoltaiczne.jpg">
                                            <h2>Instalacje<br>fotowoltaiczne</h2>
                                        </div>
                                    </div>
                                    <div class="col-12 col-lg-4 p-3">
                                        <div class="offer-element ">
                                            <img src="images/offer/klimatyzacje.jpg">
                                            <h2>Klimatyzacje</h2>
                                        </div>
                                    </div>
                                    <div class="col-12 col-lg-4 p-3">
                                        <div class="offer-element ">
                                            <img src="images/offer/pompy-ciepła.jpg">
                                            <h2>Pompy<br>ciepła</h2>
                                        </div>
                                    </div>
                                    <div class="col-12 col-lg-4 p-3">
                                        <div class="offer-element ">
                                            <img src="images/offer/magazyny-energii.jpg">
                                            <h2>Magazyny<br>energii</h2>
                                        </div>
                                    </div>
                                    <div class="col-12 col-lg-4 p-3">
                                        <div class="offer-element ">
                                            <img src="images/offer/usługi-projektowe.jpg">
                                            <h2>Usługi<br>projektowe</h2>
                                        </div>
                                    </div>
                                    <div class="col-12 col-lg-4 p-3">
                                        <div class="offer-element ">
                                            <img src="images/offer/prefabrykacja-rozdzielnic.jpg">
                                            <h2>Prefabrykacja<br>rozdzielnic</h2>
                                        </div>
                                    </div>
                                    <div class="col-12 col-lg-4 p-3">
                                        <div class="offer-element ">
                                            <img src="images/offer/nadzory.jpg">
                                            <h2>Nadzory</h2>
                                        </div>
                                    </div>
                                    <div class="col-12 col-lg-4 p-3">
                                        <a href="wynajem" class="offer-element not-before">
                                            <img src="images/offer/w-sprzętu.jpg">
                                            <h2><i class="fa-solid fa-arrow-up-right-from-square"></i> Wynajem<br>sprzętu</h2>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </main>
                


                <%- include('./partials/footer') %>
            </div>

            
        </div>



        
        <%- include('./partials/jsscripts') %>

        <%- include('./partials/end') %>
    </body>

</html>