<!DOCTYPE html>
<html lang="pl-PL">

    <head>
        <title>Wynajem sprzętu budowlanego woj. Lubelskie - El-Mar S.C.</title>

        <meta property="og:title" content="<%- pageName %>">
		<meta property="og:url" content="https://el-marsc.pl/wynajem">

        <%- include('./partials/head') %>
    </head>

    <body>
        <%- include('./partials/header') %>

        <div class="position-relative">


            <%- include('./partials/nav') %>
            

            <div class="main w-100">

                <main>
                    <div class="h-back">
                        <h1>
                            <%- pageName %>
                        </h1>
                    </div>


                    <div class="rents container pt-5">
                        <div class="row px-3">
                            <div class="col-12 col-lg-6 py-3">
                                <h2>Podnośniki koszowe</h2>
                                <div class="hr"></div>
                                <ul>
                                    <li>
                                        <b>Star-MAN 6x6</b> <small>maksymalna wysokość robocza 18m</small>
                                    </li>
                                    <li>
                                        <b>Mercedes UNIMOG 4x4</b> <small>maksymalna wysokość robocza 17m</small>
                                    </li>
                                    <li>
                                        <b>Land Rover Defender 4x4</b> <small>maksymalna wysokość robocza 13,5m</small>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-12 col-lg-6 py-3">
                                <h2>Żurawie samochodowe</h2>
                                <div class="hr"></div>
                                <ul>
                                    <li>
                                        <b>STAR-MAN 6x6 z HDS HMF 220</b>
                                    </li>
                                    <li>
                                        <b>STAR –MAN 6x6 z HDS HIAB 166</b>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-12 col-lg-6 py-3">
                                <h2>Koparki</h2>
                                <div class="hr"></div>
                                <ul>
                                    <li>
                                        <b>Kubota KX37-4</b>
                                    </li>
                                    <li>
                                        <b>Kubota KX19-4</b>
                                    </li>
                                    <li>
                                        <b>Bobcat E27</b>
                                    </li>
                                    <li>
                                        <b>Wacker Neuson E25</b>
                                    </li>
                                    <li>
                                        <b>Mini ładowarka gąsiennicowa CASE TV450B</b>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-12 col-lg-6 py-3">
                                <h2>Osprzęt linii elektroenergetycznych</h2>
                                <div class="hr"></div>
                                <ul>
                                    <li>
                                        <b>Wciągarka kablowa VILTA COMBI 4500 DC</b>
                                    </li>
                                    <li>
                                        <b>Rolki kablowe</b>
                                    </li>
                                    <li>
                                        <b>KABLE DOG- wspomagacz wciągarki</b>
                                    </li>
                                    <li>
                                        <b>Urządzenia do przecisków pod obiektami typu KRET</b>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-12 col-lg-6 py-3">
                                <h2>Agregaty prądotwórcze</h2>
                                <div class="hr"></div>
                                <ul>
                                    <li>
                                        <b>Agregat 100 kVA</b>
                                    </li>
                                    <li>
                                        <b>Agregat 80 kVA</b>
                                    </li>
                                    <li>
                                        <b>Agregat 7,5 kVA</b>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="container pb-5">
                        <div class="px-3">
                            <h3>Jesteś zainteresowany wynajmem?</h3>
                            <div class="hr2"></div>
                            <a href="kontakt" class="contact-with-us">Skontaktuj się z nami</a>
                        </div>
                    </div>
                </main>
                
                

                <%- include('./partials/footer') %>
            </div>

            
        </div>



        
        <%- include('./partials/jsscripts') %>

        <%- include('./partials/end') %>
    </body>

</html>